frontend http_front
    bind *:80
    default_backend http_back

backend http_back
    balance roundrobin
    {% for server in backend_servers %}
    server {{ server.name }} {{ server.ip }}:80 check
    {% endfor %}

